## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
mi_primera_variable = 5
print(mi_primera_variable)

5

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
mi_v = 9.5
mi_v2 = 8.6
print(type(mi_v))
print(type(mi_v2))

<class 'float'>
<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type(mi_primera_variable)

int

4) Crear una variable que contenga tu nombre

In [ ]:
mi_variable_nombre = 'Victo Hugo López Cabrera'

5) Crear una variable que contenga un número complejo

In [24]:
mi_variablecompleja = 6 + 8j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
mi_variablecompleja1 = 8+8j
type(mi_variablecompleja1)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [1]:
mi_variable1 = 'True'
mi_variable2 = False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [8]:
print('La primera variables es de tipo', type(mi_variable1), 'la segunda variables es de tipo:',type(mi_variable2))

La primera variables es de tipo <class 'str'> la segunda variables es de tipo: <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [29]:
miVar1 = 5 + 1.2
print(miVar1)

6.2

11) Realizar una operación de suma de números complejos

In [30]:
sumacomplejos = (5 + 8j) + (6 + 8j)
print(sumacomplejos)

(11+16j)

12) Realizar una operación de suma de un número real y otro complejo

In [36]:
sumararaxd = 8j + 8.1
print(sumararaxd)

(8.1+8j)

13) Realizar una operación de multiplicación

In [37]:
multipli = 8*8
print(multipli)

64

14) Mostrar el resultado de elevar 2 a la octava potencia

In [38]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [44]:
a = 27
b = 4
cociente = (a/b)
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [43]:
#para demostrar la parte entera de una sola división se usa doble //
print(a//b)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [45]:
print(a%b)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [46]:
print(6+4*3)

18

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [48]:
#Se conoce como variables alfanuméricas a los strings concatenación
x = "Memento "
y = "Mori"
print(x + y)

Memento Mori

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [51]:
print(2=='2')

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [52]:
c = 2
d = '2'
print(c ==(int(d)))

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [55]:
#Porque no puedes transfomar una cadena de carácteres en un dato de tipo flotanta
#Solo funciona de entero a flotante
#Solo usa coma
p = 6.5
g = p
print(type(g))

<class 'float'>

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [60]:
e = 5
e -= 6
print(e)

f = 'lola'
f = 5
print(f)

-1
5

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [1]:
print(1<<2)
#Esto es util porque,

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
#Son clases diferentes de tipos de datos no son los mismo no pueden sumar montañas más fracciones

26) Realizar una operación válida entre valores de tipo entero y string

In [65]:
a = 5
b = 8
c = 'hola '
d = 'my friends'
print(a+b)
print(c+d)

13
hola my friends